*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
ZIT/v1.0/11096d58-2a9a-4e95-824b-ad236482ede3.jpeg filter=lfs diff=lfs merge=lfs -text
ZIT/v1.0/c07338ca-580c-4a44-9d55-ab6f7641d3b3.jpeg filter=lfs diff=lfs merge=lfs -text
ZIT/v1.0/f6d10d20-6619-4527-88d6-9f0196dec340.jpeg filter=lfs diff=lfs merge=lfs -text
ZIT/v2.0/41b01bec-0976-4d63-923d-9ed902862b98.jpeg filter=lfs diff=lfs merge=lfs -text
ZIT/v2.0/60cdeab7-12a9-4e8f-a481-3f04c32490e6.jpeg filter=lfs diff=lfs merge=lfs -text
ZIT/v2.0/b8fc1be2-8c73-4231-ac3c-33c3d5ec5891.jpeg filter=lfs diff=lfs merge=lfs -text
ZIT/v2.0/f0b4017c-9767-4dbc-ab5b-ab1d655df770.jpeg filter=lfs diff=lfs merge=lfs -text
ZIT/v2.1/4f1692de-6de1-4504-9c60-3bbbf2649cb3.jpeg filter=lfs diff=lfs merge=lfs -text
